html{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

h1{ 
    text-align:center;
    margin:0;
    padding:20px;   
    font-size: 64px; 
}
body{
background:url("https://th.bing.com/th/id/OIP.By_LE4tPv5OqsvH1s3QZWAHaEK?rs=1&pid=ImgDetMain");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height:100vh;
margin:0;
padding:0;
}
p {
    text-align: center;
    font-size: 32px;
}
a{
    padding:20px;
}
#marks{
    text-align: center;
    font-size: 32px;
    color:black;
    display: flex;
    justify-content: center;
}
#speed{
text-align: center;
font-size: 32px;
color:red;
display: flex;
justify-content: center;
}
#salary{
text-align: center;
font-size: 32px;
color:rgb(97, 242, 97);
display: flex;
justify-content: center;
}
