body{
    background: rgb(83, 65, 65);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    color:black;
}
h1,h2 { 
    text-align:center;
    margin:0;
    padding:50px 0 0 0 ;   
    font-size: 64px; 
}
p {
    text-align: center;
    font-size: 32px;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
