body{
    background-size: contain; 
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   text-align: center;
   color:rgb(0, 0, 0);
}

.background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 120vh;
   background-image: url("https://i.pinimg.com/564x/b0/2a/a3/b02aa344c1531c155a05811d234af031.jpg");
   background-size: cover;
   z-index: -1;
   filter: opacity(25%);
}

h1,h2 { 
   text-align:center;
   margin:0;
   padding:50px 0 0 0 ;   
   font-size: 64px; 
}
p {
   text-align: center;
   font-size: 32px;
}
label {
   display: block;
   margin: 0.5rem 0;
 }
 fieldset {
   border: none;
   padding: 2rem 0;
   border-bottom: 3px solid #3b3b4f;
   font-size: 16px;
   font-weight: bold;
   }
button{
   background-color: rgba(255, 0, 0, 0.603);
   color: white;
   height: 40px;
   border-radius: 20px;
   width: 200px;
   font-size: 20px;
   border: none;
   cursor: pointer;
   transition: background-color 1s, 
   color 1s;
   box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.15);
   color: white;
   margin-top: 20px;
} 

button:hover {
   color: white;
   background-color: rgb(255, 0, 0);
}

#basicSalary {
   height: 20px;
   

}
#benefits {
   height: 20px;
   margin-left: 43px;
   margin-top: 10px;
}